<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Signup</title>

  <%- include partials/header.ejs %>
    <%- include partials/styles.ejs %>
</head>

<body>
  <!--[if lt IE 9]>Seu navegador é muito antigo, por favor atualize-o.<![endif]-->

  <div class="container">

    <div class="row" style="margin-top:5em;">
        <div class="col-md-4"></div>
      <div class="col-md-4 mr-auto text-center">
        <h1><a href="/">App Name</a></h1>
        <h4 class="mt-5">Criar nova conta</h4>
          <form class="mt-3">
              <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required="" autofocus="">
              <input type="password" id="inputPassword" class="form-control mt-2" placeholder="Senha" required="">              
              <input type="password" id="inputPassword" class="form-control mt-2" placeholder="Confirmar senha" required="">              
              <button class="btn btn-lg btn-success btn-block mt-2" type="submit">Criar conta</button>
              <div class="mt-3">
              <a href="javascript:history.back()">Cancelar</a>
              </div>
            </form>
      </div>
    </div>    

  </div>

  <%- include partials/scripts.ejs %>
</body>

</html>